@mixin dark-mode {
  /* text */
  --color-1: var(--base-1);
  --color-2: var(--base-2);
  --color-3: var(--base-3);
  --color-4: var(--base-4);
  
  /* bg */
  --bg-1: var(--base-9);
  --bg-2: var(--base-8);
  --bg-3: var(--base-7);
  --bg-4: var(--base-6);

  /* border */
  --border-1: var(--base-3);
  --border-2: var(--base-4);
  --border-3: var(--base-5);
  --border-4: var(--base-6);
}
