@mixin dark-mode {
  /* text */
  --c-color-1: 255, 255, 255;
  --c-color-2: 214, 214, 214;
  --c-color-3: 157, 157, 157;
  --c-color-4: 157, 157, 157;
  
  /* bg */
  --c-bg-1: 8, 8, 19;
  --c-bg-2: 16, 16, 25;
  --c-bg-3: 24, 24, 31;
  --c-bg-4: 32, 32, 37;
}
