@mixin light-mode {
  /* text */
  --c-color-1: 5, 5, 6;
  --c-color-2: 59, 67, 74;
  --c-color-3: 100, 112, 143;
  --c-color-4: 133, 144, 153;
  
  /* bg */
  --c-bg-1: 249, 249, 255;
  --c-bg-2: 245, 245, 252;
  --c-bg-3: 240, 240, 248;
  --c-bg-4: 234, 234, 243;
}
