@mixin light-mode {
  /* text */
  --color-base: var(--base-1100);
  --color-dim-1: var(--base-700);
  --color-dim-2: var(--base-600);
  --color-dim-3: var(--base-400);
  
  /* bg */
  --bg-base: var(--base-100);
  --bg-dim-1: var(--base-200);
  --bg-dim-2: var(--base-300);
  --bg-dim-3: var(--base-400);

  /* border */
  --border-base: var(--base-500);
  --border-dim-1: var(--base-400);
  --border-dim-2: var(--base-300);
  --border-dim-3: var(--base-200);

  /* accents */
  --accent-primary: var(--accent-primary-500);
  --accent-primary-vivid: var(--accent-primary-600);
  --accent-primary-muted: var(--accent-primary-400);
  --accent-secondary: var(--accent-secondary-500);
  --accent-secondary-vivid: var(--accent-secondary-600);
  --accent-secondary-muted: var(--accent-secondary-400);
  --accent-tertiary: var(--accent-tertiary-500);
  --accent-tertiary-vivid: var(--accent-tertiary-600);
  --accent-tertiary-muted: var(--accent-tertiary-400);
}
