@layer base {
  @font-face {
    font-family: Manrope;
    font-weight: 600;
    font-display: swap;
    font-style: normal;
    src:
      local('Manrope'),
      url('../fonts/Manrope/Manrope-SemiBold.ttf') format('truetype');
  }
  @font-face {
    font-family: Manrope;
    font-weight: 700;
    font-display: swap;
    font-style: normal;
    src:
      local('Manrope'),
      url('../fonts/Manrope/Manrope-Bold.ttf') format('truetype');
  }
  @font-face {
    font-family: Manrope;
    font-weight: 800;
    font-display: swap;
    font-style: normal;
    src:
      local('Manrope'),
      url('../fonts/Manrope/Manrope-ExtraBold.ttf') format('truetype');
  }

  @font-face {
    font-family: "Open Sans";
    font-weight: 300;
    font-display: swap;
    font-style: normal;
    src:
      local('Open Sans'),
      url('../fonts/OpenSans/OpenSans-Light.ttf') format('truetype');
  }
  @font-face {
    font-family: "Open Sans";
    font-weight: 400;
    font-display: swap;
    font-style: normal;
    src:
      local('Open Sans'),
      url('../fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
  }
}
