@use 'themes';
@use 'fonts';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 16px; // 1rem
    @apply tw-font-sans tw-bg-1 tw-text-1 tw-leading-sm;
  }
  body {
    @apply tw-overscroll-none;
  }
  small {
    @apply tw-text-sm;
  }
  a {
    @apply tw-underline hover:tw-underline-offset-1 tw-duration-fast tw-text-accent-1 hover:tw-text-accent-1-vivid;
  }
  ::selection {
    @apply tw-text-accent-1 tw-bg-4;
  }

  /* themes */
  :root {
    /* COMMON PALETTE */
    // base
    --black: 0, 0, 0;
    --white: 255, 255, 255;

    --base-1: 255, 255, 255;
    --base-2: 214, 214, 214;
    --base-3: 157, 157, 158;
    --base-4: 105, 105, 108;
    --base-5: 62, 62, 66;
    --base-6: 32, 32, 37;
    --base-7: 24, 24, 31;
    --base-8: 16, 16, 25;
    --base-9: 8, 8, 19;

    /* DEFAULTS */
    /* accents */
    // primary
    --accent-1: var(--color-2);
    --accent-1-vivid: var(--color-1);
    --accent-1-muted: var(--color-3);
    // secondary
    --accent-2: var(--accent-1);
    --accent-2-vivid: var(--accent-1-vivid);
    --accent-2-muted: var(--accent-1-muted);
    // tertiary
    --accent-3: var(--accent-2);
    --accent-3-vivid: var(--accent-2-vivid);
    --accent-3-muted: var(--accent-2-muted);
  
    // Default: be preferred color scheme
    @include themes.light-mode;
    @media (prefers-color-scheme: dark) {
      @include themes.dark-mode;
    }
  }

  .light-mode {
    @include themes.light-mode;
  }
  .dark-mode {
    @include themes.dark-mode;
  }
}

/* Vue Animations */

// Fade
.fade-enter-active,
.fade-leave-active {
  transition: opacity theme('transitionDuration.normal') ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
